<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javastudy.vocabease_common.mappers.Item4questionMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.javastudy.vocabease_common.entity.po.Item4question">
		<!--选项id-->
		<id column="item_id" property="itemId"  />
		<!--问题id-->
		<result column="question_id" property="questionId"  />
		<!--标题-->
		<result column="title" property="title"  />
		<!--排序-->
		<result column="sort" property="sort"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 i.item_id,i.question_id,i.title,i.sort
	</sql>

	<sql id="base_condition_filed">
			<if test="query.itemId != null">
				 and  i.item_id = #{query.itemId}
			</if>
			<if test="query.questionId != null">
				 and  i.question_id = #{query.questionId}
			</if>
			<if test="query.title != null and query.title!=''">
				 and  i.title = #{query.title}
			</if>
			<if test="query.sort != null">
				 and  i.sort = #{query.sort}
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.titleFuzzy!= null  and query.titleFuzzy!=''">
				 and  i.title like concat('%', #{query.titleFuzzy}, '%')
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM item4question i <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM item4question i <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.javastudy.vocabease_common.entity.po.Item4question">
		<selectKey keyProperty="bean.itemId" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO item4question
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.questionId != null">
				 question_id,
			</if>
			<if test="bean.title != null">
				 title,
			</if>
			<if test="bean.sort != null">
				 sort,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.questionId!=null">
				 #{bean.questionId},
			</if>
			<if test="bean.title!=null">
				 #{bean.title},
			</if>
			<if test="bean.sort!=null">
				 #{bean.sort},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.javastudy.vocabease_common.entity.po.Item4question">
		 INSERT INTO item4question
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.itemId != null">
				 item_id,
			</if>
			<if test="bean.questionId != null">
				 question_id,
			</if>
			<if test="bean.title != null">
				 title,
			</if>
			<if test="bean.sort != null">
				 sort,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.itemId!=null">
				 #{bean.itemId},
			</if>
			<if test="bean.questionId!=null">
				 #{bean.questionId},
			</if>
			<if test="bean.title!=null">
				 #{bean.title},
			</if>
			<if test="bean.sort!=null">
				 #{bean.sort},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.questionId!=null">
				 question_id = VALUES(question_id),
			</if>
			<if test="bean.title!=null">
				 title = VALUES(title),
			</if>
			<if test="bean.sort!=null">
				 sort = VALUES(sort),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.javastudy.vocabease_common.entity.po.Item4question" useGeneratedKeys="true" keyProperty="itemId">
		 INSERT INTO item4question(
			 question_id,
			 title,
			 sort
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.questionId},
				 #{item.title},
				 #{item.sort}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.javastudy.vocabease_common.entity.po.Item4question">
		 INSERT INTO item4question(
			 question_id,
			 title,
			 sort
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.questionId},
				 #{item.title},
				 #{item.sort}
			 )
		 </foreach>
			on DUPLICATE key update 
			question_id = VALUES(question_id),
			title = VALUES(title),
			sort = VALUES(sort)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.javastudy.vocabease_common.entity.query.Item4questionQuery">
		 UPDATE item4question i
 		 <set> 
			<if test="bean.questionId != null">
				 question_id = #{bean.questionId},
			</if>
			<if test="bean.title != null">
				 title = #{bean.title},
			</if>
			<if test="bean.sort != null">
				 sort = #{bean.sort},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete i from item4question i
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据ItemId修改-->
	<update id="updateByItemId" parameterType="com.javastudy.vocabease_common.entity.po.Item4question">
		 UPDATE item4question
 		 <set> 
			<if test="bean.questionId != null">
				 question_id = #{bean.questionId},
			</if>
			<if test="bean.title != null">
				 title = #{bean.title},
			</if>
			<if test="bean.sort != null">
				 sort = #{bean.sort},
			</if>
 		 </set>
 		 where item_id=#{itemId}
	</update>

	<!-- 根据ItemId删除-->
	<delete id="deleteByItemId">
		delete from item4question where item_id=#{itemId}
	</delete>

	<!-- 根据ItemId批量删除-->
	<delete id="deleteByItemIdBatch">
		delete from item4question where item_id in
		(<foreach collection="itemIdList" separator="," item="item">#{item}</foreach> )
	</delete>

	<!-- 根据QuestionId批量删除-->
	<delete id="deleteByQuestionIdBatch">
		delete from item4question where question_id in(
		    select question_id from question where status = #{status}
			<if test="userId!=null">
				and creater_id = #{userId}
			</if>
		    and question_id in(<foreach collection="questionIdArray" separator="," item="item">#{item}</foreach> )
		)
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByItemId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from item4question i where item_id=#{itemId}
	</select>

</mapper>